<nav>
    <ul>
        <li>
            <a href="" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a>
        </li>
        <li>
            <a href="" [routerLink]="['/customer']" routerLinkActive="router-link-active">Customer</a>
        </li>
        <li>
            <a href="" [routerLink]="['/admin']" routerLinkActive="router-link-active">Users</a>
        </li>
        <li>
            <a href="" [routerLink]="['/admin/blast']" routerLinkActive="router-link-active">Email Blast</a>
        </li>                
    </ul>
</nav>

<router-outlet></router-outlet>